body{
    background-color: yellow;
}

img{
    border-radius: 50%;
}

h1{
    font-weight: 100;
    font-family: cursive;
}

.container{
    /* color: black; */
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    border-radius: 2rem;
    
}

a{
    color: black;
    text-decoration-line: none
}

button{
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 2rem;
    text-decoration-line: none
}
